html{
    font-size: 62.5%;
    /*tipo de letra*/
    font-family: 'Roboto Mono', monospace;
}
/* ESTILO DEL CUERPO */
body {
    background: linear-gradient(
        90deg,
        gray,
        white);
}

*{
    margin: 0;
    padding: 0;
}

/* ETIQUETAS DE NAVEGACION */
.flex-container{
    display: flex;
    justify-content: space-between;
    height: 10 vh;
    align-items: center;
}

/* Selector para hijos directos*/
.flex-container>ul{
    display: flex; 
    list-style-type: none;
    word-spacing: normal;
    /* obs se le agregan a los hijos directod de ul, LI */
}

ul li a{
    text-decoration: none;
    /* Saca linea de subrayado */
    font-style: black;

    
    /* para sacar diseño de hipervinculos */
}
ul>li{
    margin: 1rem;
    /* obs rem es la mas recomendada pero recordar que hay que poner el porcentaje al principio */
}


/*  SLIDER DE IMAGENES */
.slidercontainer{
    margin: auto;
    background: linear-gradient(
    90deg,
    gray,
    white);
    width: 800px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }


      /*TITULO CON ANIMACION */ 
.tituloanimado {
        animation-duration: 5s;
        animation-name: slidein;
        animation-delay: 10s;
        animation-iteration-count: infinite;
      }

      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

.titulo{
    font-size: 5rem;
    color: aqua;
}

.logo{
    height: 20vh;
    /* para que se adapte */
    margin: 2rem 1rem 1rem 2rem;
    width: 10vw;
    border-radius: 10%;
    box-shadow: 0.5rem 1rem grey;
    /* 1er lugar grosor sombra horizontal, 2do lugar grosor sombra vertical,m 3er color */
    /* con - te da vuelta la sombra */
}

/* ESTRUCTURA RESPONSIVE DONDE AGREGAMOS LAS CAJAS CON LAS MALLAS Y SUS RESPECTIVOS PRECIOS */
.gridcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: repeat(2, 15rem);
    column-gap: 3rem;
    row-gap: 4rem;    
}
.mallas{
    display: grid;
    grid-template-rows: 4fr 1fr;
    padding: 2.5rem;

}
.gridcontainer>div>h3{
    align-items:center;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 1rem black;
    padding: 5px;
}

#iconowpp{
    justify-content: right;
    height: 100px;
    width: 100px;
    position: right;

}
#iconowpp>h4{
    text-decoration: none;
    /* Saca linea de subrayado */
    font-style: black;
}

/* IMPLEMENTACION DE PUNTOS DE CORTE */
@media screen and (max-width: 640px){
    .container{ color: black;
}
}
@media screen and (min-width: 640px) and (max-width: 1280px) {
.container{ color: black;
}
}
@media screen and (min-width: 1280px) {
.container{ color: black;
}
}


/*MENU DESPLEGABLE*/

.flex-container{
    background-color:  rgb(79, 128, 127);
    position: fixed;
    top: 0;
    right: 0;
    height: 10vh;
    width: var(--nav-widht);
    transform: translateX(100%);
    transition: transform .6s;
    }
    
    label[for="toggle-nav"]{
        font-size: 3.5rem;
        width: 3.5rem;
        text-align: center;
        position: absolute;
        background-color: black;
        color: aliceblue;
        top: 0;
        right: 0;
        transition: transform .6s;
    }
    #toggle-nav, #close-nav{
        display: inline;
    
    }
    #toggle-nav:checked ~ nav{
        transform: translateX(0%);
    }
    #toggle-nav:checked + label{
        transform: translateX(calc(-1 * var(--nav-width)))
    }
    #toggle-nav:checked + label #close-nav{
        display: initial;
    }
    #toggle-nav:checked + label #open-nav{
        display: none;
    }
    .menu > .dropdown{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-top: 1.5rem;
    }


.item {

        background-color:rgb(222, 150, 150);
        border-radius: 01rem;
        box-shadow: 4px 4px 4px 4px rgb(103, 44, 163);
        color: black;
    }


/*SECCION MUJERES*/
.bikinis {
    background: linear-gradient(
        50deg,
        rgb(192, 108, 122),
        white,
        rgb(138, 66, 138)
    );
}
.mujer {
display: flex;
justify-content: space-between;
padding: 10%;
}

