html{
    font-size: 62.5%;
    /*tipo de letra*/
    font-family: 'Roboto Mono', monospace;
}
body {
    background: linear-gradient(
        90deg,
        gray,
        white,
       black
    );
}

*{
    margin: 0;
    padding: 0;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    background-color: indianred;
    height: 10 vh;
    /* vh unidad de medida que se adapta a la pantalla en la que estoy viendo */
    align-items: center;
}

/* Selector para hijos directos ....*/
.flex-container>ul{
    display: flex; 
    list-style-type: none;
    word-spacing: normal;
    /* obs se le agregan a los hijos directod de ul, LI */
}

ul li a{
    text-decoration: none;
    /* Saca linea de subrayado */
    font-style: black;

    
    /* para sacar diseño de hipervinculos */
}
ul>li{
    margin: 1rem;
    /* obs rem es la mas recomendada pero recordar que hay que poner el porcentaje al principio */
}

      /* animate__heartBeat */ 
.tituloanimado  {
        animation-duration: 5s;
        animation-name: slidein;
        animation-delay: 10s;
        animation-iteration-count: infinite;
      }

      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
    /* lo de arriba es un nombre de una animacinon */


.titulo{
    font-size: 5rem;
    color: aqua;
}
.logo{
    height: 20vh;
    /* para que se adapte */
    margin: 2rem 1rem 1rem 2rem;
    width: 10vw;
    border-radius: 10%;
    box-shadow: 0.5rem 1rem grey;
    /* 1er lugar grosor sombra horizontal, 2do lugar grosor sombra vertical,m 3er color */
    /* con - te da vuelta la sombra */
}
.gridcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: repeat(2, 15rem);
    column-gap: 3rem;
    row-gap: 4rem;    
}
.mallas{
    display: grid;
    background-color: aquamarine;
    grid-template-rows: 4fr 1fr;
    padding: 2.5rem;

}
.gridcontainer>div>h3{
    align-items:center;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 1rem black;
    padding: 5px;
    

}
.flex-container-1{
    display: flex;
    /* cada caja en linea */
    justify-content: space-between;
    /* cada linea separada */
    background-color: antiquewhite;
}

#iconowpp{
    justify-content: right;
    height: 10vh;
    /* para que se adapte */
    width: 8vw;
    position: right;    
}

/* IMPLEMENTACION DE PUNTOS DE CORTE */
@media screen and (max-width: 640px){
    .container{ color: black;
}
}
@media screen and (min-width: 640px) and (max-width: 1280px) {
.container{ color: black;
}
}
@media screen and (min-width: 1280px) {
.container{ color: black;
}
}
.dropdown-menu{
    background-color:  rgb(178, 86, 167) !important; /*color de prueba del fonde*/
    border-radius: 2rem !important; /*tipo de borde*/
}

.dropdown-menu>li a{/*solo en hipervinculos*/
    background-color:  rgb(143, 129, 156) !important; /*color de prueba*/
    text-decoration: none !important; /*saca la linea debajo del hipervinculo */
    color: black !important; /*todas las letras negras*/
}
.dropdown-menu> li button:hover{
    background-color: brown !important; /* color que se va a poner cuando pasemos sobre las opciones del menu*/
    border-radius: 2rem;
    box-shadow: 5px 5px 5px 5px rgb(23, 2, 44);
}

/* menu desplegable*/
.flex-container{
    background-color:  rgb(79, 128, 127);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: var(--nav-widht);
    transform: translateX(100%);
    transition: transform .6s;
    }
    
    label[for="toggle-nav"]{
        font-size: 3.5rem;
        width: 3.5rem;
        text-align: center;
        position: absolute;
        background-color: black;
        color: aliceblue;
        top: 0;
        right: 0;
        transition: transform .6s;
    }
    #toggle-nav, #close-nav{
        display: inline;
    
    }
    #toggle-nav:checked ~ nav{
        transform: translateX(0%);
    }
    #toggle-nav:checked + label{
        transform: translateX(calc(-1 * var(--nav-width)))
    }
    #toggle-nav:checked + label #close-nav{
        display: initial;
    }
    #toggle-nav:checked + label #open-nav{
        display: none;
    }
    .flex-container > .dropdown{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-top: 1.5rem;
    }
